
main > section {
    background: url('../Imagem/contato1.jpeg') 50% 0 no-repeat ;
    background-size: contain;

}

main > section h2 {
    margin: 0 122px 186px;
    padding-top: 49px;
    width: 419px;
    font-size: 70px;
    font-weight: 700;
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.36);
}

main > section h2::after {
    content: ' :)';
}

form {
    display: flex;
    margin-bottom: 133px;
    align-items: center;
    justify-content: center;
    padding-top: 97px;

}

fieldset {
    width: 820px;
    height: 766px;
    left: 492px;
    top: 672px;
    margin-left: 15px;
    background: #FFFFFF;
    border: 1px solid #FFA000;
    border-radius: 20px;
}

fieldset legend {
    display: block;
    float: left;
    clear: both;
    text-transform: lowercase;
    padding-top: 64px;
    margin: 0 0 64px 33px;
    font-size: 40px;
    color: #FFC107;
    font-family: 'Montserrat';
    font-weight: 700;
}


input[type=text] {
    padding: 0px 33px 0px 33px;
    width: 750px;
    height: 48px;
    left: 0.6%;
    right: 0%;
    top: 21.48%;
    bottom: 70.88%;
    margin: 66px 33px 0px 33px;
    background: #FFFFFF;
    border: 1px solid #FFA000;
    box-sizing: border-box;
    border-radius: 7px;
}

input[type=email] {
    width: 750px;
    padding: 0px 33px 0px 33px;
    height: 48px;
    margin: 22.8px 33px 0px 33px;
    background: #FFFFFF;
    border: 1px solid #FFA000;
    box-sizing: border-box;
    border-radius: 7px;
}

textarea {
    width: 750px;
    padding: 15px 33px 0px 33px;
    height: 293.42px;
    margin: 22.8px 33px 0px 33px;
    background: #FFFFFF;
    border: 1px solid #FFA000;
    box-sizing: border-box;
    border-radius: 7px;
}

textarea :focus {
    outline: 0;
    background: rgb(253, 247, 218);
}

#button {
    margin-top: 16px;
    border: none;
    background: #FFC107;
    border-radius: 50px;
    width: 164px;
    height: 48px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 800;
    margin-left: 38px;
    margin-bottom: 65px;
    
}
