body {
    font-family: 'Montserrat';
    
}

textarea {
    resize: none;
}

.screen-reader-only {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

header {
    background: #FFC107;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;
}

header img {
    margin: 16px 0;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFA000;
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav li {
    margin: 0;
    padding: 14px 0;
    list-style: none;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 29px;
    font-size: 20px;
    font-weight: 700;
}

footer {
    display: flex;
    position: relative;
    bottom: 0;
    width: 100%;
    background: #FFC107;
    color: #ffffff;
    vertical-align: middle;
}

#logorodape {
    margin: 18px 6px 17px 0;
}

footer p {
    font-size: 18px;
    margin: 51px auto 46px 38px;
}
