
main > .top{
    background: url('/Imagem/inicio1.jpeg');
    background-size: cover;
    height: 638.18px;
}

.top p {
    font-size: 70px;
    color: #ffffff;
    font-weight: 700;
    margin: 0;
    padding-top: 166px;
    padding-left: 969px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
}

h2 {
    font-size: 55px;
    color:#FFA000;
    margin-left: 305px;
    margin-top: 75px;
    margin-bottom: 73px;
    
}

.middle {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.link-receita {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 345px;
    margin: 0 30px 60px 30px;
}

.link-receita img {
    width: 345px;
    height: 342px;
    display: block;
    margin: 0 0 12px;
}

.link-receita span {
    display: block;
    text-align: center;
    font-size: 26px;
    font-weight: 600;
    text-transform: lowercase;
    margin: 0 0 24px;
}

.link-receita a {
    color: #ffffff;
    background: #176902;
    font-size: 24px;
    font-weight: 700;
    margin: 0px 90px 60px 90px;
    padding: 10px 43px;
    text-transform: lowercase;
    text-decoration: none;
}

main > .botton {

    background: url('/Imagem/inicio2.jpeg');
    background-size: cover;
    height: 772px;
    
}

.botton h3 {
    font-size: 65px;
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-top: 163px;
    padding-left:122px;
}

.botton h4 {
    font-size: 24px;
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-top: 73px;
    padding-left:122px;
    padding-bottom: 107;
    padding-right: 893px;

}